// 尺寸
$length-body-width: 1000px;

// 颜色
$color-black: #333;
$color-white: #fff;
$color-lighter-gray: #f2f2f2;
$color-light-gray: #eee;
$color-gray: #ccc;
$color-deep-gray: #999;
$color-deeper-gray: #666;
$color-main: #EB2902;

// 字号
$font-small: 12px;
$font-normal: 14px;
$font-big: 16px;
$font-biger: 20px;